@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shantell Sans';
}

.container{
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(22, 123, 247);
  justify-content: center;
}

.form{
  max-width: 430px;
  width: 100%;
  padding: 30px;
  background-color: rgb(251, 251, 251);
  border-radius: 6px;
}

header{
  font-size: 28px;
  font-weight: 600;
  color: gray;
  text-align: center;
}

form{
    margin-top: 30px;
}